/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap_and_overrides
 *= require bootstrap-datetimepicker
 */

.new_user {
	max-width: 240px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

#filter_form .filter {
    display: inline-block;
    *display: inline;
}

.btn.btn-primary, .btn.btn-success, .btn.btn-danger {
    color: #ddd !important;
}

label {
    max-width: 206px;
}

#categories {
    width: 206px;
    padding: 6px;
    margin-bottom: 0;
}

#filters {
    padding: 6px;
    margin-bottom: 10px;
}

    #filters label {
        display: inline-block;
        max-width: 200px;
        margin: 5px 10px;
    }